<%- include('be_header') %>

<div class="card container">
    <div class="card-body">
        <div class="card-title h5 mb-4">
            เพิ่มประเภทสินค้า
        </div>
        <form method="post">
            <div class="mb-3">
                <label>ชื่อประเภทสินค้า</label>
                <input type="text" name="name" class="form-control">
            </div>
            <div>
                <button class="btn btn-info" type="submit">
                    Add
                </button>
            </div>
        </form>
    </div>
</div>

<%- include('be_footer') %>  