<%- include('be_header') %>

<div class="container d-flex justify-content-center align-item-center">
    <img src="https://media.tenor.com/J-w5FUWA17sAAAAC/hacker.gif" width="30px" class="mr-2">
    <img src="https://media.tenor.com/cKgOapMuyWcAAAAC/coding-developer-code.gif" width="100px" class="mr-3">
    <img src="images/coding-typing.gif" width="400px">
    <img src="https://media.tenor.com/cKgOapMuyWcAAAAC/coding-developer-code.gif" width="100px" class="ml-3">
    <img src="https://media.tenor.com/J-w5FUWA17sAAAAC/hacker.gif" width="30px" class="ml-2" style="-webkit-transform: scaleX(-1);transform: scaleX(-1);">
</div>

<%- include('be_footer') %> 